<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.movie-container').forEach(container => {
                container.addEventListener('click', function(event) {
                    if (!event.target.classList.contains('btn-trailer') && !event.target.classList.contains('btn-watchlist')) {
                        window.location.href = container.dataset.href;
                    }
                });
            });

            document.querySelectorAll('.btn-watchlist').forEach(button => {
                button.addEventListener('click', async function(event) {
                    event.stopPropagation();
                    const movieId = this.closest('.movie-container').dataset.href.split('/').pop();
                    const response = await fetch('/check-session');
                    const result = await response.json();

                    if (result.isLoggedIn) {
                        // Logic to add to watchlist
                        // For demonstration, we're just showing an alert
                        alert('Added to Watchlist');
                    } else {
                        window.location.href = '/login';
                    }
                });
            });

            $('#trailerModal').on('hidden.bs.modal', function () {
                var $video = $(this).find('video');
                $video.get(0).pause();
                $video.get(0).currentTime = 0;
            });

            $('#trailerModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var clipUrl = button.data('clipurl'); // Extract info from data-* attributes
                var modal = $(this);
                modal.find('.modal-body video source').attr('src', clipUrl);
                modal.find('.modal-body video').get(0).load();
            });

            $('#trailerModal').on('hidden.bs.modal', function (event) {
                var modal = $(this);
                modal.find('.modal-body video').get(0).pause();
                modal.find('.modal-body video source').attr('src', '');
            });
        });
    </script>
</head>
<body>

    <%- include('partials/nav') %>
    
    <div class="container mt-3">   
        <div id="movieSlider" class="carousel slide mt-5" data-ride="carousel" data-interval="0">
            <div class="carousel-inner">
                <div style="color: rgb(220, 220, 220);">
                    <h1> <%= language === 'tr' ? 'Bu Hafta IMDb\'de En İyi 10' : 'Top 10 on IMDb this Week' %> </h1> 
                </div>
                
                <div class="carousel-item active">
                    <div class="row align-items-center text-center">
                        <% movies.forEach((movie, index) => { %>
                            <% if (index < 5) { %>
                                <div class="col-md-3 col-lg-2 col-sm-12 mt-3">
                                    <div class="movie-container" data-href="/moviedetail/<%= movie.id %>">
                                        <img src="/images/<%= movie.imgurl %>" alt="<%= movie.name %>" class="rounded img-fluid">
                                        <div class="movie-rating"><%= index + 1 %></div>
                                        <h3 class="card-title"><%= movie.name %></h3>
                                        <div><h3 class="card-text">🌟 <%= movie.rate %> / 10</h3></div>
                                        <div><button class="btn btn-primary btn-watchlist">Watchlist</button></div>
                                        <div>
                                            <button class="btn btn-secondary btn-trailer" data-toggle="modal" data-target="#trailerModal" data-clipurl="/videos/<%= movie.clipurl %>">Trailer</button>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
    
                <% for (let i = 5; i < movies.length; i+=5) { %>
                    <div class="carousel-item">
                        <div class="row align-items-center text-center">
                            <% movies.slice(i, i+5).forEach((movie, idx) => { %>
                                <div class="col-md-3 col-lg-2 col-sm-12 mt-3">
                                    <div class="movie-container" data-href="/moviedetail/<%= movie.id %>">
                                            <img src="/images/<%= movie.imgurl %>" alt="<%= movie.name %>" class="rounded img-fluid">
                                            <div class="movie-rating"><%= i + idx + 1 %></div>
                                            <h3 class="card-title"><%= movie.name %></h3>
                                            <div><h3 class="card-text">🌟 <%= movie.rate %> / 10</h3></div>
                                            <div><button class="btn btn-primary btn-watchlist">Watchlist</button></div>
                                            <div>
                                                <button class="btn btn-secondary btn-trailer" data-toggle="modal" data-target="#trailerModal" data-clipurl="/videos/<%= movie.clipurl %>">Trailer</button>
                                            </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#movieSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#movieSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="trailerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trailerModalLabel">Trailer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" controls>
                            <source src="" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
